######
# Editing configs

alias sauce='source ~/.zshrc'
alias sauce:edit='vim ~/.aliases && sauce'
alias sauce:copy='cat ~/.aliases|clip.exe && echo ".aliases copied to clipboard"'
alias sauce:tmux='tmux source ~/.tmux.conf'

alias vimrc='nvim ~/.vimrc'
alias nvimrc='nvim ~/.config/nvim'
alias tmuxrc='nvim ~/.tmux.conf'

alias ycp='yadm commit && yadm push origin'
alias yp='yadm pull'

alias rt='rtx'
alias rt:edit='vim ~/.config/rtx/config.toml'

######
# Tool aliases

alias lg='lazygit'

alias bat='bat --paging=never'

alias rg='rg -j $(nproc) --color=always'
alias fz='fzf -d ":" -n 2.. --ansi --preview="echo {1}; cat {1}" --preview-window=up:25%'
alias frg='rg . | fz'

alias ag='alias | fzf'

alias tls='tmux ls'
alias tat='tmux at'
alias t='tmux'

alias storm='phpstorm64.exe'
alias nide='neovide.exe --wsl'
alias lite='lite-xl.exe'
alias pc='code $(find ~/projects -maxdepth 1 -type d | fzf)' # Open project in code

alias explorer='explorer.exe'
alias explore='explorer.exe'

alias tlogs='tail -f $(find ~/projects -maxdepth 4 -mindepth 4 -name laravel.log)'

alias oops='fc -e vim'

alias form='terraform'

alias wtf='gh copilot suggest'
alias wtff='gh copilot explain'
alias act='gh act'

alias rs='rsync -avz --info=progress2'

alias winget='winget.exe'


######
# Paths

alias p='cd ~/projects'

######
# WSL

alias interops='find /run/WSL/ -maxdepth 1 -type s -mmin +60'
alias interops:kill='find /run/WSL/ -maxdepth 1 -type s -mmin +60 | xargs rm'

alias morning='echo "sudo service mysql start; sudo service redis-server start; sudo service php8.1-fpm start; sudo service nginx start; sudo service mysql status; sudo service redis-server status; sudo service php8.1-fpm status; sudo service nginx status;"| clip.exe'
alias internet='echo "nameserver 1.1.1.1\nnameserver 1.0.0.1" | sudo tee -a /etc/resolv.conf'
alias gnight='echo "sudo service mysql stop; sudo service redis-server stop; sudo service php8.1-fpm stop; sudo service nginx stop; sudo service mysql status; sudo service redis-server status; sudo service php8.1-fpm status; sudo service nginx status;"| clip.exe'
alias here='wslpath -w .'

alias paste.exe='powershell.exe Get-Clipboard'

alias wudo='~/tools/wsl-sudo/wsl-sudo.py'
alias whosts='wudo vim /mnt/c/Windows/System32/drivers/etc/hosts'

######
# Laravel

alias mst='php artisan migrate:fresh --env=testing'
alias mfs='php artisan migrate:fresh --seed'
alias art='php artisan'
alias art:cron='php artisan schedule:run-cronless --frequency=15'
alias ac='art:cron'
alias tst='vendor/bin/phpunit'
alias att='art test:turbo'
alias pf='vendor/bin/phpunit --filter'
alias art:lang='php artisan lang:js --group-locales public/core/js/lang/messages.js --compress --window-object'
alias art:ziggy='php artisan ziggy:generate packages/core/resources/js/routes.js'
alias sail='vendor/bin/sail'
alias pu='vendor/bin/phpunit'
alias puc='php -dxdebug.mode=coverage vendor/bin/phpunit --coverage-html reports/'

alias xoff='sed -i "" "s/zend_extension=\"xdebug.so\"/;zend_extension=\"xdebug.so\"/" /usr/local/etc/php/8.0/php.ini; valet restart php; php -v;'
alias xon='sed -i "" "s/;zend_extension=\"xdebug.so\"/zend_extension=\"xdebug.so\"/" /usr/local/etc/php/8.0/php.ini; valet restart php; php -v;'

######
# Ansible
alias av='ansible-vault'

######
# Node

alias nr='npm run'
alias nrw='npm run watch'
alias nrh='npm run hot'
alias nrj='npm run watch-js'
alias nrc='npm run watch-css'
alias nrd='npm run development'
alias nrp='npm run production'
alias ni='npm i'
alias nci='npm ci'

alias br='bun run'
alias brw='bun run watch'
alias brh='bun run hot'
alias brj='bun run watch-js'
alias brc='bun run watch-css'
alias brd='bun run development'
alias brp='bun run production'
alias bi='bun i'
alias bci='bun ci'

alias nneu='npx @neutralinojs/neu'
alias bneu='bunx @neutralinojs/neu'

######
# Docker

alias doc='docker-compose' # docker compose
alias docd='docker-compose -f docker-compose.yml -f docker-compose.dev.yml' # docker dev
alias dx='docker-compose exec' # docker exec
alias dr='doc down && doc up -d' # docker restart
alias dlb='cd ~/projects/devilbox && ./shell.sh' # devilbox
alias dlb:dr='cd ~/projects/devilbox && dr && cd -'
alias dlbdr='$(dlb:dr) &> /dev/null'

######
# Work Scripts
which_server() {
  if [ -z "$1" ]; then
    echo "Usage: find_myproject <project_name>"
    return 1
  fi

  for h in web{1..5}; do
    ssh "$h" "ls /var/www 2>/dev/null | grep '$1' && echo 'Found on $h'"
  done
}

######
# Easy configs

alias zshoff='git config oh-my-zsh.hide-info 1'
alias zshon='git config oh-my-zsh.hide-info 0'

export VISUAL=vim
export EDITOR="$VISUAL"

export PATH="$PATH:$HOME/.local/bin"
#export PATH="$PATH:$HOME/.config/composer/vendor/bin"
#export NVM_DIR="$HOME/.nvm"
#[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
#[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# FZF for <C-r> <C-t> <A-c>
if [ -e /usr/share/doc/fzf/examples/key-bindings.zsh ]; then
  source /usr/share/doc/fzf/examples/key-bindings.zsh
fi


# Ctrl + P Command Palette
ctrlp() {
    # List all commands in PATH
    local commands=$(compgen -c | sort -u)

    # Use FZF to select a command
    local selected_command=$(echo "$commands" | fzf --height 40% --reverse --border --preview "command -v {}" --preview-window=down:1:wrap)

    # If a command was selected, run it
    if [ -n "$selected_command" ]; then
        eval "$selected_command"
    fi
}
zle -N ctrlp
bindkey '^P' ctrlp
